<html>
   <head>
      <title>VueJs Introduction</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   </head>
   <body>
      <div id = "intro" style = "text-align:center;">
         <h1>{{ mydetails() }}</h1>
      </div>
      <script type = "text/javascript">
         var vue_det = new Vue({
            el: '#intro',
            data: {
                firstname : "Ria",
                lastname  : "Singh",
                address    : "Mumbai"
            },
            methods: {
                mydetails : function() {
                  return "I am "+this.firstname +" "+ this.lastname;
                }
            }
         });
         console.log(vue_det)
         console.log(vue_det.$data)
      </script>
   </body>
</html>