.JsonTree{
  margin: auto;
  z-index: 500;
  background-color: #fff;
  width: 70%;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;  
  padding: 16px;
  border-radius: 4px;
  transition-property: box-shadow, opacity;
  overflow-wrap: break-word;
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow;
  margin-top: 20px;
  max-height: 410px;
  overflow-y: scroll;
}
button {
  text-rendering: auto;
  display: inline-block;
  text-align: center;
  cursor: default;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-sizing: border-box;
  margin-left: auto;
  padding: .375rem, .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  size: 10px;
  position: absolute;
  margin-bottom: 10px;
}

.wrapper {
  text-align: center;
  margin: 10px;;
}

.text-field {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 2px;
  border: none;
  border-bottom: rgb(129, 145, 151);
  margin-left: 3px;;
}
p {
  font-family: monospace;
}
